<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: '页面 ID', // 可选。默认为 location.href
  owner: 'tatatingting',
  repo: 'https://github.com/tatatingting/tatatingting.github.io.git',
  oauth: {
    client_id: '7cd577183318543d2ea5',
    client_secret: 'a24b1cb0b457e3c3352ecbe44f08b2316de958a7',
  },
})
gitment.render('container')
</script>
