---
layout: default
---
<article>
	<header>
		<h1>{{ page.title | escape }}</h1>
		<p>
			<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
			<span>
				{% assign author = site.authors | where: 'short_name', page.author | first %}
				{% if author %}
				 - <a href="{{ author.url }}">{{ author.name }}</a>
				{% endif %}
			</span>
			<span>- {{ page.content | number_of_words }} Words</span>
		</p>
	</header>
	<p> .</p>
	<section>
		{{ content }}
	</section>
	<section>
		<aside>
			<p><span><a href="{{ page.url | relative_url }}" hidden="">{{ page.url | relative_url }}</a></span></p>
		</aside>
	</section>
</article>
